<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="name">Name</label>
        <input type="username" name='username'>
        <label for="password">password</label>
        <input type="password" name='password'>
        <button type="submit">Login</button>
    </form>
</head>
<body>
    
</body>
</html>