{% extends 'index_main.html' %}
{% block contant %}
{% load static %}

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
	<div class="container">
		<div class="row justify-content-between align-items-center">
			<div class="col-lg-6">
				<h2 class="section-title">Why Choose Us</h2>
				<p>We test everything to make sure it’s high quality,
					Stay updated with the latest tech trends, Our team is here to help you with any tech issues.</p>

				<div class="row my-5">
					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="{% static 'Main_images/truck.svg' %}" alt="Image" class="imf-fluid">
							</div>
							<h3>Fast &amp; Free Shipping</h3>
							<p>Enjoy Fast & Free Shipping on all orders! Experience seamless shopping with secure
								transactions and swift delivery right to your doorstep.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="{% static 'Main_images/bag.svg' %}" alt="Image" class="imf-fluid">
							</div>
							<h3>Easy to Shop</h3>
							<p>Shopping Made Effortless: Discover a streamlined, hassle-free experience with intuitive
								navigation and personalized features designed just for you.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="{% static 'Main_images/support.svg' %}" alt="Image" class="imf-fluid">
							</div>
							<h3>24/7 Support</h3>
							<p>24/7 Support at Your Fingertips: We're here for you anytime, day or night, ensuring
								expert assistance whenever you need it.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="{% static 'Main_images/return.svg' %}" alt="Image" class="imf-fluid">
							</div>
							<h3>Hassle Free Returns</h3>
							<p>A smooth return process can enhance customer satisfaction and loyalty.</p>
						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-5">
				<div class="img-wrap">
					<img src="{% static 'Main_images/why-choose-us-img.jpg'  %}" alt="Image" class="img-fluid">
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End Why Choose Us Section -->

<!-- Start Team Section -->
<div class="untree_co-section">
	<div class="container">

		<div class="row mb-5">
			<div class="col-lg-5 mx-auto text-center">
				<h2 class="section-title">Our Team</h2>
			</div>
		</div>
		
		<div class="row">
			<!-- Start Column 1 -->
			<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
				<img src="{% static 'Main_images/muthu.jpg' %}" class="img-fluid mb-5">
				<h3 clas><a href="#"><span class="">MUthuraja</span>N</a></h3>
				<span class="d-block position mb-4">Software developer , Bangalore.</span>
				<p>	Hello! My name is Muthuraja, and I'm currently transitioning from a year-long journey as a freelance web developer to a specialized role as a Python Django developer. This shift marks an exciting new chapter in my career, driven by a deep passion for creating robust and scalable web applications.
				</p>				
			</div>
			<!-- End Column 1 -->

			<!-- Start Column 2 -->
			<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
				<img src="{% static 'Main_images/about aswani.jpg' %}" class="img-fluid mb-5">
				<h3 clas><a href="#"><span class="">Aswani</span> U</a></h3>
				<span class="d-block position mb-4">Hr and finance, Sponsor, At Palakkad.</span>
				<p>My name is Aswani. I have completed an MBA with a specialization in HR and Finance. I have also completed certified courses in Data Entry Operation and Tally
				</p>
			</div>
		</div>
	</div>
</div>
<!-- End Team Section -->



<!-- Start Testimonial Slider -->
<div class="testimonial-section before-footer-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 mx-auto text-center">
				<h2 class="section-title">Testimonials</h2>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="testimonial-slider-wrap text-center">

					<div id="testimonial-nav">
						<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
						<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
					</div>

					<div class="testimonial-slider">

						<div class="item">
							<div class="row justify-content-center">
								<div class="col-lg-8 mx-auto">

									<div class="testimonial-block text-center">
										<blockquote class="mb-5">
											<p>&ldquo;“ As the creator of this website, my goal is to deliver a visually
												stunning design paired with an intuitive and enjoyable user experience.
												The site is built with a focus on secure payment solutions, reflecting
												my expertise in Django and web development”.&rdquo;</p>
										</blockquote>

										<div class="author-info">
											<div class="author-pic">
												<img src="{% static 'Main_images/person-1.png' %}" alt="Maria Jones"
													class="img-fluid">
											</div>
											<h3 class="font-weight-bold">J~A~R~V~I~S as Muthu☈aja</h3>
											<span class="position d-block mb-3">That's Me who this site owner</span>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- END item -->

						<div class="item">
							<div class="row justify-content-center">
								<div class="col-lg-8 mx-auto">

									<div class="testimonial-block text-center">
										<blockquote class="mb-5">
											<p>&ldquo;A strong leader inspires with a clear vision, 
												communicates effectively, and recognizes team efforts.
												 They foster trust, autonomy, and collaboration, 
												 while promoting continuous learning and a positive work environment.&rdquo;</p>
										</blockquote>

										<div class="author-info">
											<div class="author-pic">
												<img src="images/person-1.png" alt="Maria Jones" class="img-fluid">
											</div>
											<h3 class="font-weight-bold">Aswani U</h3>
											<span class="position d-block mb-3">Team Motivator, Sponsor, At Palakkad.</span>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- END item -->
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Testimonial Slider -->
{% endblock %}