{% extends 'index_main.html' %}
{% block contant%}
{% load static %}

<div class="untree_co-section before-footer-section">
    <div class="container">
      <div class="row mb-5">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">
            <table class="table">
              <thead>
                <tr>
                  <th class="product-thumbnail">Image</th>
                  <th class="product-name">Product</th>
                  <th class="product-price">Price</th>
                  <th class="product-quantity">Quantity</th>
                  <th class="product-total">Total</th>
                  <th class="product-remove">Remove</th>
                </tr>
              </thead>
              <tbody>
                {% for cart_items in List_of_cart_orders.order_list_items.all %}
                <tr>
                  <td class="product-thumbnail">
                    <img src={{cart_items.order_product.product_image.url}} alt="Image" class="img-fluid">
                  </td>
                  <td class="product-name">
                    <h2 class="h5 text-black">{{cart_items.order_product.product_name}}</h2>
                  </td>
                  <td>${{cart_items.order_product.price}}</td>
                  <td>
                    <div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">
                
                      <a href="{% url 'decrease_order' cart_items.order_product.id %}"><button class="btn btn-outline-black decrease" type="button">&minus;</button></a>
                      
                      <input type="text" class="form-control text-center quantity-amount" value={{cart_items.order_quantity}} placeholder="1" aria-label="Example text with button addon" aria-describedby="button-addon1">
                      <div class="input-group-append">
                      <a href="{% url 'increase_item' cart_items.order_product.id %}"><button class="btn btn-outline-black increase" type="button">&plus;</button></a>
                      </div>
                    </div>
                  </td>
                  <td>${{cart_items.get_total_item_price}}</td>

                  <td><a href="{% url 'delete' cart_items.order_product.id  %}" class="btn btn-black btn-sm">X</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row mb-5">
            <div class="col-md-6 mb-3 mb-md-0">
              <button class="btn btn-black btn-sm btn-block">Update Cart</button>
            </div>
            <div class="col-md-6">
              <a href="{% url 'shop' %}"><button class="btn btn-outline-black btn-sm btn-block">Continue Shopping</button></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 pl-5">
          <div class="row justify-content-end">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 text-right border-bottom mb-5">
                  <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-6">
                  <span class="text-black">Total</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black">{{List_of_cart_orders.get_total_product_items}}</strong>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                 <a href="{% url 'check_out' %}"><button class="btn btn-black btn-lg py-3 btn-block" onclick="window.location='checkout.html'">Proceed To Checkout</button></a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
