<!doctype html>
{% load static %}
{% load cart_count %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="muthuraja">
  <link rel="shortcut icon" href="favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link href="{% static 'Main_css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="{% static 'Main_css/tiny-slider.css' %}" rel="stylesheet">
		<link href="{% static 'Main_css/style.css' %}" rel="stylesheet">
		
		<title>Jarvis copyright </title>
	</head>

	<body>


		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="{% url 'index' %}">M☈<span>.</span></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						{% if user.is_authenticated %}
						<li class="nav-item active">
							<a class="nav-link" href="{% url 'index' %}">Home</a>
						</li>
						<li><a class="nav-link" href="{% url 'shop'%}">Shop</a></li>
						
						<li><a class="nav-link" href="{% url 'add_product'%}">Add Product</a></li>
						
						<li><a class="nav-link" href="{% url 'about' %}">About us</a></li>
						<li><a class="nav-link" href="{%  url 'services' %}">Services</a></li>
						<li><a class="nav-link" href="{% url 'email' %}">Contact us</a></li>
						{% endif %}

					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						{% if user.is_authenticated %}
						<li><a class="nav-link"> Welcome {{user.username}}</a></li>
						<li><a class="nav-link" href="{% url 'cart'%}"><img src="{% static 'Main_images/cart.svg' %}">{{request.user|cart_item_count}} </a></li>
						<!-- <li><a class="nav-link" style="color: rgb(250, 250, 250);" >{{request.user|cart_item_count}}</a></li> -->
						<li><a class="nav-link" href="{% url 'logout'%}"><img src="{% static 'Main_images/user.svg' %}">LogOut </a></li>
						{%else%}
						<li><a class="nav-link" href="{% url 'Signin'%}"><img src="{% static 'Main_images/user.svg' %}"></a></li>
						{% endif %}
						
					</ul>
				</div>
			</div>
				
		</nav>
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>M☈. NextGen Tech<span clsas="d-block"> For You</span></h1>
								<p class="mb-4">M☈ Tech gadgets is your gateway to tomorrow's technology.<br> Our mission is to bring the latest innovations technology to your fingertips</p>
								<p><a href="{% url 'shop'%}" class="btn btn-secondary me-2">Shop Now</a><a href="{% url 'about' %}" class="btn btn-white-outline">About us</a></p>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<img src="{% static 'Main_images/intro.png' %}"  class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		{% block contant %}
		{% endblock %}


		<!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">

				<div class="sofa-img">
					<img src="{% static 'Main_images/sofa.png' %}" alt="Image" class="img-fluid">
				</div>



				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="{% url 'index' %}" class="footer-logo">M☈<span>.</span></a></div>
						<p class="mb-4"> Be the first to know about the latest gadgets, exclusive deals, and tech insights.<br> We're committed to sustainability. All orders are shipped in recyclable packaging.<br>As long as you own the gadget, we’re here to help. Reach out to our tech experts anytime.</p>

						<ul class="list-unstyled custom-social">
							<!-- <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li> -->
							<li><a href="https://www.linkedin.com/in/muthurajaa/"><span class="fa fa-brands fa-linkedin"></span></a></li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="{% url 'about' %}">About us</a></li>
									<li><a href="{%  url 'services' %}">Services</a></li
									<li><a href="{% url 'email' %}">Contact us</a></li>
								</ul>
							</div>


							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="{% url 'shop'%}">Mobile</a></li>
									<li><a href="{% url 'shop'%}">Laptop</a></li>
									<li><a href="{% url 'shop'%}">Light</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">Copyright  ☠J~A~R~V~I~S☠  &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. <br> Designed with love by <a href="#">Jarvis inc</a> <!-- License information: https://untree.co/license/ -->
            </p>
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->	


		<script src="{% static 'Main_js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'Main_js/tiny-slider.js' %}"></script>
		<script src="{% static 'Main_js/custom.js' %}"></script>
	</body>

</html>
