{% extends 'index_main.html' %}
{% block contant%}
{% load static %}


<div class="untree_co-section product-section before-footer-section">
    <div class="container">
        <div class="row">

            <!-- Start Column 1 -->
            {% for data in product %}
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <div class="product-item">
                    <img src="{{data.product_image.url}}" class="img-fluid product-thumbnail">
                    <h3 class="product-title">{{data.product_name}}</h3>
                    <strong class="product-price">₹{{data.price}}</strong>

                    <span class="icon-cross">
                        <img src="{% static 'Main_images/cross.svg' %}" class="img-fluid">
                    </span>
                    <div>
                    </div>
                    <div class="product-item">

                        <a class="nav-link" href="{% url 'add_cart' data.pk  %}"><img src="{% static 'Main_images/cart.svg' %}" class=".change-my-color"> </a>
                        <!-- <a href="{% url 'add_cart' data.pk %}"><button class="btn btn-secondary me-2">Add</button></a> -->
                        <a href="{% url 'buy_now' data.pk %}"><button class="btn btn-secondary me-2">Buy</button></a>
                        <a href="{% url 'detail' data.id %}"><button type="submit" class="btn">View</button></a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>s
{% endblock %}